@import "../../index.scss";

.container {
  width: 100%;
  height: 200px;
  border: 1px solid $color-green;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb($color-green, 0.6);
  padding: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}