@import "../../../../index.scss";

.container {
  border: 1px solid $color-green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: $padding-small;
  padding-left: $padding-large;
  position: relative;
}

.itemContainer {
  display: flex;
  gap: 10px;
}

.label {
  color: $color-green;
  font-style: italic;
}

.deleteButton {
  position: absolute;
  right: $padding-small;
  bottom: $padding-small;
}
