@import "../../index.scss";

.container {
  position: relative;
}

.tasksContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tasksColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  flex-grow: 1;
}

.divider {
  width: 2px;
  background-color: $color-green;
  opacity: 30%;
}