@import "../../index.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tasksContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tasksColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  position: relative;
  border-right: 2px solid rgb($color-green, 0.6);
  gap: 15px;
}
