@import "../../index.scss";

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: $padding-medium;
}

.addButton {
  align-self: flex-start;
}

.tasks {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

