@import "../../../../index.scss";

.container {
  padding: $padding-small;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-top: 1px solid rgb($color-green, 0.2);
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}