@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// COLORS
$color-black: #000014;
$color-white: #ffffff;
$color-orange: #FCB500;
$color-grey: #ADADAD;
$color-green: #08a652;

/* common styles */

  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(90deg,#efffcc,#f8ffeb);
    color: $color-black;
  }

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

code { 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
